@import url(https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap);

body {
  background-color: #AF7595;
  font-family: 'Sulphur Point', sans-serif;
  color: #2F3E4F;
  font-size: 0.8rem;
}

.flex-item {
  display: flex;
  align-items: flex-start;
}

h1 {
  letter-spacing: 2px;
  text-size-adjust: auto;
  /* text-align: center; */
  align-items: stretch;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
